@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Panel/_Panel.cshtml";
}


<br />

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <a href="/CariSec/">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-blue rounded">
                                <i class="fe-download avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h4 class="text-dark my-1"><span>Süt Topla</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <a href="/SatisListesi/">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="avatar-sm bg-success rounded">
                                <i class="fe-list avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-lg-11 text-end">
                            <h4 class="text-dark"><span>Toplanan Süt Listesi</span></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <a href="/SatisListesi/">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="avatar-sm bg-warning rounded">
                                <i class="fe-pie-chart avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-lg-11 text-end">
                            <h4 class="text-dark"><span>Günlük Rapor</span></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <a href="/SatisListesi/">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="avatar-sm bg-danger rounded">
                                <i class="fe-user avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-lg-11 text-end">
                            <h4 class="text-dark"><span>Cari Hesap Ekstresi</span></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>


